{% extends "base.html" %} {% block title %}Taking Quiz: {{ quiz.title }}{%
endblock %} {% block content %}
<h1>{{ quiz.title }}</h1>
<p>{{ quiz.description }}</p>
<hr />

<h2>Time Remaining: <span id="timer">{{ quiz.time_limit }}</span></h2>

<form method="POST" action="{{ url_for('submit_quiz', quiz_id=quiz.id) }}">
  {% for question in quiz.questions %}
  <h3>{{ question.text }}</h3>
  <input type="radio" name="question_{{ question.id }}" value="a" required /> {{
  question.option_a }}<br />
  <input type="radio" name="question_{{ question.id }}" value="b" /> {{
  question.option_b }}<br />
  <input type="radio" name="question_{{ question.id }}" value="c" /> {{
  question.option_c }}<br />
  <input type="radio" name="question_{{ question.id }}" value="d" /> {{
  question.option_d }}<br />
  <br />
  {% else %}
  <p>This quiz has no questions yet!</p>
  {% endfor %}
  <button type="submit">Submit Answers</button>
</form>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
